<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<div>
    <div>
        <form th:action="@{/todo/create}" method="post">
            <label for="todo-desc">새 할일: <input type="text" id="todo-desc" name="todo-desc"> </label>
            <input type="submit" value="생성">
        </form>
    </div>
    <div>
        <h5>해야할 일</h5>
        <div th:if="${todos.isEmpty()}">
            <p>No todos </p>
        </div>
        <div th:unless="${todos.isEmpty()}" th:each="todo: ${todos}">
            <p>내용: [[${todo.content}]]</p>
            <p>상태: [[${todo.status}]]</p>
            <form th:action="@{/todo/done/{id}(id=${todo.id})}" method="post">
                <input type="submit" value="완료">
            </form>
            <form>
                <input type="submit" value="삭제">
            </form>
        </div>
    </div>
    <div>
        <h5>완료한 일</h5>
        <div th:if="${dones.isEmpty()}">
            <p>No todos </p>
        </div>
        <div th:unless="${dones.isEmpty()}" th:each="done: ${dones}">
            <p>내용: [[${done.content}]]</p>
            <p>상태: [[${done.status}]]</p>
            <form>
                <input type="submit" value="취소">
            </form>
            <form>
                <input type="submit" value="삭제">
            </form>
        </div>
    </div>
</div>
</body>
</html>